@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$fontsource: 'Source Serif Pro', serif;
$fontroboto:'Roboto', sans-serif;
$colorprincipal: #2c0808;
$colorsecundario: rgb(152, 178, 189);
$colorterciario: rgb(255, 255, 255);
$colorcuarto: rgba(19, 18, 18, 0.897);
$colorquinto: rgb(21, 124, 165);